
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Motivos</title>

        <link rel="stylesheet" href="../css/style.css">
        <link rel="scripts" href="motivos/motivos.cs">
    
    </head>
<body>
    
    <div class="banner container">
        <div class="slider row" align="center">
            <img src="../imgs/ceu.jpg" id="slideImg">
        </div>
        <div class="overlay">
            <div style="margin-top: 100px;" class="content col-xl-12">
                <h1>200 Motivos para te Amar</h1>
                <form asp-controller="Home" asp-action="Motivos" method="post">
                    <textarea readonly="readonly" style="margin-top: 10px; font:700;" id="motivo" name="motivo"
                    rows="10" cols="40">@ViewData["Motivos"]</textarea></br>
                    <button style="margin-top: 10px;" class="botao-brilhante">Sortear</button>
                </form>
            </div>
        </div>
    </div>


</body>
<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Gabriel Natali Gonçalves 
        </div>
    </footer>
</html>